<div class="bg-agraja1 text-white d-flex justify-content-between align-items-center p-3">
    <h1>AGRAJA</h1>
    <nav>
        <button class="btn btn-success m-2" [routerLink]="['/boxes']">Cajas</button>
        <button class="btn btn-warning m-2 text-white" [routerLink]="['/agros']">Agros</button>
        <button class="btn btn-info m-2 text-white" [routerLink]="['/logIn']">Entrar</button>
        <button class="btn btn-danger m-2" [routerLink]="['/signIn']">Registrarse</button>
    </nav>
</div>
