<section class="container m-5">
    <div class="row bg-success-subtle p-4 rounded shadow-lg">
        <div class="col-12 col-md-3">
            <aside>
                <button href="#" class="btn btn-primary btn-lg col-10 mx-auto my-4 p-3" [routerLink] = "['/boxes', boxById.id, 'buybox']">Comprar Caja</button>
                <button href="#" class="btn btn-success btn-lg col-10 mx-auto my-4 p-3" [routerLink] = "['/boxes', boxById.id, 'updatebox']">Editar Caja</button>
                <button href="#" class="btn btn-danger btn-lg col-10 mx-auto my-4 p-3" (click)="OnDelete()" >Eliminar Caja</button> 
            </aside>
            
        </div>
        <div class="col-12 col-md-9">
            <h2 class="text-center h1 text-success fw-bold m-4">{{boxById.name}}</h2>
            <img class="rounded mx-auto d-block m-2" width="300" height="300" [src]="boxById.picture" [alt]="boxById.description">
            <p class="h5 text-center text-success">{{boxById.description}}</p>
            <div class="mt-3">
                <p class="text-center h4 text-success">Tipos de cultivo de la Caja:</p>
                <ul class="text-center list-inline"><li class=" list-inline-item h5 text-success" *ngFor="let products of productsByBox">· {{products.name}}</li></ul>
            </div>
            <p class="h4 text-center text-success">Peso: {{boxById.kg}} Kg.</p>
            <p class="h4 text-center text-success">Precio: {{boxById.prize}} €</p>
            <p class="h4 text-center text-success">Stock: {{boxById.stock}} uds.</p>
            

        </div>
    </div>
</section>
